@mixin content($color) {
    & a {
        color: $color;
        display: inline;
        font-weight: bold;
    }
}

.page-about {}

.page-title {
    text-align: center;
    margin: 1rem 0;
}

.page-content {
    @include content(#fff);
}

.page-content-light {
    @include content(#000);
}

.page-footer {
    // make it at the bottom
    position: absolute;
    bottom: 20px;
    /* Footer height */
}
